<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd"
	default-autowire="byName">

	<bean id="entityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
		<property name="jpaVendorAdapter">
			<bean
				class="com.smartpants.artwork.dao.jpa.ExtendedHibernateJpaVendorAdapter"
				p:showSql="${hibernate.show_sql}" p:generateDdl="true"
				p:databasePlatform="${hibernate.dialect}">
				<property name="additionalProperties">
					<value>
						hibernate.jdbc.batch_size=${hibernate.jdbc.batch_size}
						hibernate.cache.provider_class=${hibernate.cache.provider_class}
						hibernate.cache.use_second_level_cache=true
						hibernate.cache.use_query_cache=true
					</value>
				</property>
			</bean>
		</property>
	</bean>

	<bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager" />

	<tx:annotation-driven />

	<bean
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />

	<!-- Read in daos from the jpa package -->
	<context:component-scan base-package="com.smartpants.artwork.dao.jpa" />

</beans>